            <h3>Table of Contents</h3>
            <ul class="nav">
              <li>Coding Standards</li>
              <ul>
                <li><a href="{{ BASE_PATH }}coding-standards/php/">PHP</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/js/">JS</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/css/">CSS</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/documentation/">Code Documentation</a></li>
              </ul>
            </ul>
