            <h3>Table of Contents</h3>
            <ul class="nav">
              <li>Installation Guide</li>
              <ul>
                <li><a href="{{ BASE_PATH }}install/requirements/">System Requirements</a></li>
                <li><a href="{{ BASE_PATH }}install/">Basic Instructions</a></li>
                <li><a href="{{ BASE_PATH }}install/modules/">Installing Additional Modules</a></li>
                <li><a href="{{ BASE_PATH }}install/upgrade/">Upgrading from Previous Versions</a></li>
              </ul>
            </ul>
