            <h3>Table of Contents</h3>
            <ul class="nav">
              <li>About Backdrop</li>
              <ul>
                <li><a href="/about/philosophy/">Philosophy</a></li>
                <li><a href="/about/organization/">Project Organization</a></li>
                <li><a href="/about/tools/">Communication and Tools</a></li>
                <li><a href="/about/license/">License</a></li>
              </ul>

              <li>Version Information</li>
              <ul>
                <li><a href="/versions/">Release Cycles</a></li>
                <li><a href="/versions/current/">Current Versions</a></li>
                <li><a href="/versions/roadmap/">Roadmap</a></li>
              </ul>

              <li>Contributing to Backdrop</li>
              <ul>
                <li><a href="/contribute/code/">Code</a></li>
                <li><a href="/contribute/reporting/">Reporting Bugs</a></li>
                <li><a href="/contribute/documentation/">Documentation</a></li>
                <li><a href="/contribute/more/">More Ways to Contribute</a></li>
              </ul>
            </ul>
